<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ord_no %>
    <%= form.number_field :ord_no, :value => "#{rand(10..1000)}",:readonly => true,class: "form-control", :required=>true%>
  </div>

  <div class="field">
    <%= form.label :ord_tracking_no %>
    <%= form.number_field :ord_tracking_no, :value => "#{rand(10..1000)}",:readonly => true,class: "form-control", :required=>true %>
  </div>

  <div class="field">
    <%= form.label :payment_total %>
    <%= form.text_field :payment_total,class: "form-control", :required=>true %>
  </div>

  <div class="field">
    <%= form.label :ord_type %>
    <%= form.text_field :ord_type,class: "form-control", :required=>true %>
  </div>

  <div class="field">
    <%= form.hidden_field :user_id, :value=>current_user.id, :required=>true %>
  </div>
  <div class="field">
     <%= form.fields_for :orderproducts do |product_fields| %>
       <%= render 'formop', form: product_fields %>
     <% end %>
  </div>
  <div class="form-actions">
    <%= form.submit %>
      <%= link_to_add_row('Add Product', form, :orderproducts, class: 'btn btn-primary') %>
  </div>
  <div class="field">
    <%= form.fields_for :addresses do |address_fields| %>
      <%= render 'formaddr', form: address_fields %>
    <% end %> 
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
