<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ord_no %>
    <%= form.number_field :ord_no %>
  </div>

  <div class="field">
    <%= form.label :ord_tracking_no %>
    <%= form.number_field :ord_tracking_no %>
  </div>

  <div class="field">
    <%= form.label :payment_total %>
    <%= form.text_field :payment_total %>
  </div>

  <div class="field">
    <%= form.label :ord_type %>
    <%= form.text_field :ord_type %>
  </div>
  
  <%= form_tag new_order_path, :method => 'get' do %>
    <%= form.label :product %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "search" %>
<% end %>
  
 

  <%= form.fields_for :product do |product_fields| %>
    Prd_sku : <%= product_fields.text_field :prd_sku %>
    Prd_name: <%= product_fields.text_field :prd_name %>
    Price: <%= product_fields.text_field :price %>
  <% end %>  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
