<p id="notice"><%= notice %></p>

<p>
  <strong>Ord no:</strong>
  <%= @order.ord_no %>
</p>

<p>
  <strong>Ord tracking no:</strong>
  <%= @order.ord_tracking_no %>
</p>

<p>
  <strong>Payment total:</strong>
  <%= @order.payment_total %>
</p>

<p>
  <strong>Ord type:</strong>
  <%= @order.ord_type %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
